body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgba(3, 121, 34, 0.696);
    color: white;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.languages:hover {
    cursor: pointer;
}


.homepage_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homepage_display {
    height: 92vh;
    padding: 30vh 0 0 0;
    color: rgba(3, 121, 34, 0.696);
}

.about {
    height: 60vh;
}

.footer {
    background-color: black;
    color: white;
    height: 20vh;
}

